VITE_BASE_URL=http://127.0.0.1:8000
VITE_API_URL=https://api.heler.mazemateapp.com/api
# VITE_API_URL=https://dev-easymaze.mazemateapp.com/api
VITE_GMAPS_API_KEY=AIzaSyAqrz0U62TR_zv7pcgvX2yOcnLD36SRwxI
VITE_I18N_LOCALE=he
VITE_I18N_FALLBACK_LOCALE=en
DEBUG=false