/* Customizations to the designer theme should be defined here */

// FONTS
@font-face {
    font-family: 'Futurism';
    src: url('@/assets/fonts/Futurism-Light.woff2') format('woff2'), url('@/assets/fonts/Futurism-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futurism';
    src: url('@/assets/fonts/Futurism-Bold.woff2') format('woff2'), url('@/assets/fonts/Futurism-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//General
ul {
    padding-inline-start: 0px;
}

body {
    background-color: white;
}

// Layout
.layout-sidebar {
    height: calc(100vh - 76px);
    top: 76px;
    left: 0rem;
    width: 72px;
    border-radius: 0px;
    margin-top: 1px;
    padding: 8px;
    transition: width 0.1s ease-in-out;
    text-align: right;

    &.expanded {
        width: 256px;
    }
}


.layout-menu ul a{
    transition: none;
}

.layout-submenu>li {
    display: flex;
    flex-direction: row;
}

.layout-menuitem-text {
    color: var(--orange-500);
    font-weight: 400;
    white-space: nowrap;
}

.layout-topbar {
    height: $topbarHeight;
    padding: 0;
}

.layout-topbar .layout-topbar-logo {
    width: 40px;
    order: 0;

    & img {
        height: 45px;
    }
}

.wm-subheader {
    padding: 18px 48px;
    z-index: 1;
}


@media (max-width: 991px) {
    .p-divider.p-divider-vertical {
        display: none;
    }
}

.layout-menu ul a {
    justify-content: center;
    height: 48px;
}


@media (min-width: 992px) {
    .layout-wrapper.layout-static .layout-main-container {
        padding: 0px;
        padding-left: 0px;
        margin-left: 72px;

    }
}

@media (max-width: 991px) {
    .layout-wrapper .layout-main-container {
        padding: 0px;
    }
}

.layout-wrapper.layout-static.layout-static-inactive .layout-main-container {
    padding: 0px;
}

.layout-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-topbar {
    position: static;
    flex: 0 0 auto;
}

.layout-main-container {
    min-height: auto;
    flex: 1 1 auto;
    overflow: auto;
}

.layout-main-container {
    padding: 0px;
}

// Input Text
.p-inputtext {
    border-radius: 4px;
    height: 24px;
    width: 100%;

    &:disabled {
        background-color: var(--gray-100);
    }
}

.layout-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 991px) {
    .layout-main{
        overflow: auto;
    }
}

// Multi select Button 
.p-selectbutton.p-buttonset .p-button{
    border-radius: 0;
}

.p-selectbutton.p-buttonset .p-button:first-of-type {
    border-radius: 20px 0 0 20px;
}

.p-selectbutton.p-buttonset .p-button:last-of-type {
    border-radius: 0 20px 20px 0;
}


.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover,
.p-selectbutton.p-buttonset .p-button {
    color: var(--blue-700);
    border-color: var(--blue-600);
    white-space: nowrap;
    box-shadow: none;

    &.p-highlight {
        background-color: var(--blue-100);
        color: var(--blue-700);
        outline: none;
        font-weight: 700;
    }

    &:focus{
        box-shadow: none;
    }
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover{
    background-color: var(--blue-50);

}


.p-dataview-layout-options.p-selectbutton.p-buttonset .p-button:first-of-type{
    border-radius: 4px 0 0 4px;
    width: 24px;
    height: 24px;
}

.p-dataview-layout-options.p-selectbutton.p-buttonset .p-button:last-of-type {
    border-radius: 0 4px 4px 0;
    width: 24px;
    height: 24px;
}

.p-selectbutton.p-buttonset.p-component.p-selectbutton--small{
    height: 24px;
    .p-button{
        height: 24px;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}

.p-selectbutton--orange.p-selectbutton.p-buttonset  {
   .p-button{
    color: var(--orange-500);
    border-color: var(--orange-500);
   }

   .p-button.p-highlight{
    background-color: var(--orange-500);
    color: white;
    border-color: var(--orange-500);
   }

    .p-button:not(.p-disabled):not(.p-highlight):hover {
        background-color: var(--orange-50);
        color: var(--orange-500);
        border-color: var(--orange-500);
    }
}

// Scroll

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);
    border-radius: 9px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

// FadeinDown

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

// Top bar

.layout-topbar .layout-topbar-menu>li.active-topmenuitem>ul {
    display: block;
}

.layout-topbar .layout-topbar-menu>li>ul {
    display: none;
    position: absolute;
    top: 46px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    min-width: 260px;
    animation-duration: 0.2s;
}

.topbar-item {
    position: relative;
}

.notifications-dropdown {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-height: 500px;
    overflow-y: auto;
}

.p-badge.notifications-badge {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 16px;
    height: 16px;
}

.p-badge.p-badge-warning {
    background-color: var(--yellow-500);
    color: white;
}




.p-component,
.p-component .numeric,
.p-component .sla {
    font-family: var(--font-family);
}

.p-component {
    & input,tr, .p-dropdown-items, .wm-input>span, .p-dataview{
        font-family:  var(--font-family-secondary);
    }
}

/* TYPOGRAPHY */
.h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 41.86px;
}

.h2 {
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 31.39px !important;
}

.h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 31.39px;
}

.h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.31px;
}

.h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 18.31px;
}

.h7 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.7px;
}

.p2{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

a {
    @apply text-blue-600 underline;
}

// Tags & chips
.p-tag,
.p-chip {
    font-size: 14px;
    line-height: 15.7px;
    font-weight: 500;
    border-radius: 6px;
    gap: 4px;
    height: 24px;
}

.p-tag {
    background-color: var(--teal-700);
    color: white;
}

.p-tag.p-tag-success {
    background-color: var(--teal-200);
    color: var(--teal-900);
}

.p-tag.p-tag-info {
    background-color: var(--blue-500);
    color: var(--blue-800);
}

.p-tag.p-tag-warning {
    background-color: var(--yellow-100);
    color: var(--yellow-800);
}

.p-tag.p-tag-danger {
    background-color: var(--red-100);
    color: var(--red-800);
}

.p-tag>div>i {
    font-size: 10px !important;
}

.p-chip {
    background-color: var(--purple-100);
    color: var(--purple-800);
    white-space: nowrap;
    font-family: Futurism;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

// Buttons
.p-button{
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    height: 32px;
    border-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    line-height: initial;
    font-family: Assistant;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: none;
}

.p-button-default{
    background-color: var(--gray-50);
    color: var(--blue-500);
    border: none;

    &:disabled{
        background-color: var(--gray-200);
        color: var(--gray-500);
        border: 1px solid var(--gray-500);
        cursor: not-allowed;
    }

    &:hover{
        background-color: var(--gray-100) !important;
        color: inherit !important;
    }
}

.p-selectbutton.p-buttonset.p-component>div {
    padding: 10px 10px 10px 10px;
}

.p-selectbutton.p-buttonset.p-component {
    height: 32px;
}

.p-selectbutton.p-buttonset.p-component.form-select-button>div {
    padding: 0px 12px 0px 12px;
    height: 24px;
}

.p-selectbutton.p-buttonset.p-component.form-select-button {
    height: 24px;
}

.p-button .p-button-icon-left{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.p-button-only-icon{
    height: 27px;
    width: 27px;
    border-radius: 4px;
    gap: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: none;

    .p-button-svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.disabled {
    pointer-events: none !important;
}

// colors
.p-teal-button{
    background-color: var(--teal-700);
    color: white;

    .p-button-svg{
        fill: white;
    }

    &:enabled:hover,
    &:hover{
        background-color: var(--teal-600);
    }
}

.p-orange-button{
    background-color: var(--orange-500);
    color: white;

    .p-button-svg{
        fill: white;
    }

    &:enabled:hover,
    &:hover{
        background-color: var(--orange-400);
    }
}

.p-lightblue-button{
    background-color: var(--blue-50);
    color: var(--blue-900);

    .p-button-svg{
        fill: var(--blue-900);
    }

    &:enabled:hover,
    &:hover{
        background-color: var(--blue-75);
    }
}

// Side Menu
.layout-menu{
    width: 100%;
}

.layout-menu ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.layout-menu ul a{
    width: 48px;
    justify-content: start;
    font-size: 1.2rem;
    gap: 12px;
}

.layout-menu .layout-submenu:last-child li:last-child{
    margin-bottom: 24px; 
}

.layout-sidebar.expanded .layout-menu ul a{
    width: calc(100% - 8px);
}

.layout-menu ul a.active-route,
.layout-menu ul a:hover {
    background-color: var(--orange-100);
    border-radius: 6px 16px 6px 6px;
    box-shadow: none;

    .layout-menuitem-text{
        font-weight: 700;
    }
}

//Dataview
.files-dataview .p-dataview-content,
.journal-dataview .p-dataview-content{
    padding: 8px;
    height: 220px;
    overflow: auto;
    border-radius: 8px;
}

.service-data .p-fileupload-content{
    border:none;
}

// .files-dataview .p-dataview-header,
//     .journal-dataview .p-dataview-header{
//     border:none;
//     background: none;
// }

//Dialogs
.p-dialog{
    .p-dialog-header{
        border: none;

        .p-dialog-title:first-letter {
            text-transform: uppercase;
        }
    }

    .p-dialog-content{
        white-space: pre-line;
        padding: 1em;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: black;
    }

    .p-dialog-footer{
        display: flex;
        border: none;
    } 
}

.existing-related-services-dialog{

    .p-dialog-content{
        height: 80vh;
    }

    .p-dialog-header{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__filters{
        height: calc(80vh - 20px); // 20px equals to the padding of the dialog
        overflow: scroll;
        margin-right: -1em;
        margin-top: -1em;
    }

    &__table{
        width: 70%;

    }
}

.existing-documents-dialog{

    .p-dialog-content{
        height: 80vh;
    }

    .p-dialog-header{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__filters{
        height: calc(80vh - 20px); // 20px equals to the padding of the dialog
        overflow: scroll;
        margin-right: -1em;
        margin-top: -1em;
        width: 30%;
    }

    &__table{
        width: 100%;
    }
}

.documents-selector-dialog{

    .p-dialog-content{
        height: 80vh;
    }

    .p-dialog-header{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__filters{
        height: calc(80vh - 20px); // 20px equals to the padding of the dialog
        overflow: scroll;
        margin-right: -1em;
        margin-top: -1em;
        width: 30%;
    }

    &__table{
        width: 100%;
    }
}

// Calendar
.p-calendar{
    border: 1px solid var(--gray-400);
    border-radius: 4px;

 &.p-calendar-w-btn{

        .p-inputtext{
            border: none;
            background-color: white;
        }

        .p-button{
            background-color: white;
            border: none;
            color: var(--gray-700);
            height: 24px;
        }
    }

    &.p-calendar-disabled{
        background: var(--gray-200);
        cursor: not-allowed;

        .p-datepicker-trigger,
        .p-inputtext{
            background-color: var(--gray-200);
        }
    }
}

// Accordion
.p-accordion {
    width: 100%;

    .p-accordion-header .p-accordion-header-action{
        border-radius: 16px !important;
        padding: 16px !important;
        gap: 8px;
        color: var(--gray-1000);
        font-family: 'Futurism';
        font-size: 24px;
        border: none;
        transition: none;
    }

    .p-accordion-content{
        border: none;
    }

    .p-accordion-tab-active > .p-accordion-header > .p-accordion-header-action{
        background-color: var(--blue-50) !important;
    }

    .p-accordion-tab-active > .p-accordion-header:hover > .p-accordion-header-action{
        background-color: var(--blue-100) !important;
    }
}

.p-accordion.p-accordion--compact{
    .p-accordion-header {
        .p-accordion-header-link{
            padding: 7px !important;
        }
    }
}

// Datatable
.p-datatable{

    a{
        color: var(--blue-700);
        text-decoration: underline;
    }

    .bg-new-row{
        background-color: var(--orange-50) !important;
    }

    &.p-datatable-compact .p-datatable-tbody > tr > td{
        line-height: 2em;
        padding: 0;
    }

    .p-datatable-tbody > tr > td input{
        height: 32px;
        border: 1px solid #ced4db;
        border-radius: 2px;
    }

    .p-frozen-column{
        z-index: 1;
    }

}

// Dropdowns
.p-dropdown .p-dropdown-label{
    height: initial;
}

.p-dropdown-payment-status .p-dropdown-label{
    line-height: 12px;
}

.p-dropdown-payment-status{
    border-radius: 4px;  
    border: 1px solid;
    font-weight: 700;
    height: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 12px;

    &--complete{
        background-color: var(--green-200);
        border-color: var(--green-500);
    
        .p-inputtext{
            color: var(--green-900);
        }
    }

    &--round_of_signatures{
        background-color: var(--purple-100);
        border-color: #C68AFB;
    
        .p-inputtext{
            color: var(--purple-800);
        }
    }

    &--paid_waiting_for_invoice{
        background-color: var(--orange-100);
        border-color: var(--orange-300);
    
        .p-inputtext{
            color: var(--orange-900);
        }
    }

    &--approved_waiting_for_payment{
        background-color: var(--yellow-200);
        border-color: var(--yellow-600);
    
        .p-inputtext{
            color: var(--yellow-900);
        }
    }

    &--proforma_invoice{
        background-color: var(--blue-100);
        border-color: var(--blue-300);
    
        .p-inputtext{
            color: var(--blue-900);
        }
    }
}

// Others 
pre {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    direction: ltr;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre-wrap;
  }

.cursor-text{
cursor: text !important;
}


// Toast
.p-toast{
    width: auto;

    .p-toast-message{
        margin: 0 1rem;
    }
}

.p-toast .p-toast-message.p-toast-message-success {
    background-color: var(--green-100);
    border: 1px solid var(--green-300);
    color: var(--gray-900);
    border-radius: 8px;
    font-size: 1.1rem;
    
    .p-toast-message-content{
        display: flex;
        align-items: center;
    }

    .p-toast-summary{
        font-size: 1.1em;
    }

    .p-toast-detail{
        margin-top: 4px;
    }

    svg{
        width: 20px;
        height: 20px;

    path{
        fill: var(--green-400);
        }
    }
}

.p-toast .p-toast-message.p-toast-message-info {
    background-color: var(--blue-100);
    border: 1px solid var(--blue-300);
    color: var(--gray-900);
    border-radius: 8px;
    font-size: 1.1rem;
    
    .p-toast-message-content{
        display: flex;
        align-items: center;
    }

    .p-toast-summary{
        font-size: 1.1em;
    }

    .p-toast-detail{
        margin-top: 4px;
    }

    svg{
        width: 20px;
        height: 20px;

    path{
        fill: var(--blue-400);
        }
    }
}

// Charts
.p-chart{
    direction : ltr;
}

.p-card-chart .p-card-body{
    height: 100%;
    display: flex;
    flex-direction: column;

    .p-card-content{
        margin-top: auto;
        margin-bottom: auto;
    }
}

// CARDS
.p-card{
    box-shadow: none !important;

    border: 1px solid #D7DFE5;
    border-radius: 10px;
    height: 100%;
}

.p-card--first-top-card{
    border-top-right-radius: 40px !important;
}


// UTILITY / AUX
.gap-32px{
    gap: 32px;
}

td.filled-td {
  padding: 0 !important;
}

// PERMISSIONS TABLE AND COMPONENTS
$table-gap: 0.25rem; // gap-1
$entity-column-width: 200px;
$access-column-width: 320px;

// columns width
.w-entity-column {
  width: $entity-column-width;
}

.w-access-column {
  width: $access-column-width;
}

.w-permissions-column {
  width: calc(100% - (#{$entity-column-width} + #{$access-column-width} + 4px) - #{$table-gap}); // TEMPORAL
}

.entity-permissions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $table-gap;
  text-transform: capitalize;

  &__header {
    width: 100%;
    display: flex;
    gap: $table-gap;

    > .cell {
      font-size: 20px;
      font-weight: 700;
      background: var(--gray-300);
      padding: 12px;

      &:first-child {
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-top-left-radius: 8px;
      }
    }
  }

  &__subheader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: $table-gap;

    .cell {
      font-weight: 700;
      background: var(--gray-100);
      padding: 12px;
      overflow: hidden;
    }
  }

  &__entity-column {
    width: 100%;
    display: flex;
    gap: $table-gap;

    .cell {
      font-weight: 700;
      padding: 12px;
      background-color: var(--gray-50);
    }


  }
}

// CUSTOM CHECKBOX STYLES
.p-checkbox  {

    .p-checkbox-box {
        border: 1px solid var(--gray-500);
    }

    .p-checkbox-box.p-highlight{
        background: var(--blue-500);
    }

    &.p-checkbox-disabled .p-checkbox-box {
        background: var(--gray-100);
    }

    &.p-checkbox-disabled.p-checkbox-checked .p-checkbox-box {
        background: var(--gray-500);
        border: 1px solid var(--gray-500);
    }
}

// CUSTOM SWITCH SLIDER STYLES
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
    background-color: var(--blue-500);
}

// DISLABED FIELD
.p-disabled{
    cursor: not-allowed;
}

// TOOLTIP
.p-tooltip {

    .p-tooltip-text{
        font-family: 'Open Sans', sans-serif;
        background: white;
        font-size: 12px;
        color: var(--gray-800);
        padding: 9px;
        box-shadow: 0px 0px 16px 0px #00000033;

    }

    &.p-tooltip-bottom .p-tooltip-arrow{
        border-bottom-color: white !important;
    }

    &.p-tooltip-top .p-tooltip-arrow{
        border-top-color: white !important;
    }

    &.p-tooltip-left .p-tooltip-arrow{
        border-left-color: white !important;
    }

    &.p-tooltip-right .p-tooltip-arrow{
        border-right-color: white !important;
    }

}