/* Customizations to the designer theme should be defined here */

.p-inputtext {
    border-radius: 8px;
    height: 32px;
}

.layout-sidebar {
    height: calc(100vh - 76px);
    top: 76px;
    left: 0rem;
    width: 72px;
    border-radius: 0px;
    margin-top: 1px;
    padding: 8px;
}

.layout-topbar {
    height: $topbarHeight;
    padding: 0;
}

.layout-topbar .layout-topbar-logo {
    width: 40px;
    order: 0;

    & img {
        height: 45px;
    }
}

.wm-subheader {
    padding: 18px 48px;
}

.layout-menu ul a {
    justify-content: center;
    height: 48px;
    margin-bottom: 24px;

}

.layout-menu ul a:hover {
    background-color: var(--orange-100);
}

@media (min-width: 992px) {
    .layout-wrapper.layout-static .layout-main-container {
        padding: 0px;
        padding-left: 0px;
        margin-left: 72px;

    }
}

@media (max-width: 991px) {
    .layout-wrapper .layout-main-container {
        padding: 0px;
    }
}

.layout-wrapper.layout-static.layout-static-inactive .layout-main-container {
    padding: 0px;
}

.layout-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-topbar {
    position: static;
    flex: 0 0 auto;
}

.layout-main-container {
    min-height: auto;
    flex: 1 1 auto;
    overflow: auto;
}

.layout-main-container {
    padding: 0px;
}

body {
    background-color: white;
}

.layout-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// Multi select Button 

.p-selectbutton.p-buttonset .p-button:first-of-type {
    border-radius: 20px 0 0 20px;
}

.p-selectbutton.p-buttonset .p-button:last-of-type {
    border-radius: 0 20px 20px 0;
}

.p-selectbutton.p-buttonset .p-button.p-highlight {
    background-color: var(--blue-50);
    text-shadow: 0 0 .65px var(--blue-300), 0 0 .65px var(--blue-300);
    color: var(--blue-300);
}

.p-selectbutton.p-buttonset .p-button {
    color: var(--blue-300);
    border-color: var(--blue-300);
    white-space: nowrap;
}



@media (max-width: 991px) {
    .p-divider.p-divider-vertical {
        display: none;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);
    border-radius: 9px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.layout-topbar .layout-topbar-menu>li.active-topmenuitem>ul {
    display: block;
}

.layout-topbar .layout-topbar-menu>li>ul {
    display: none;
    position: absolute;
    top: 46px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    min-width: 260px;
    animation-duration: 0.2s;
}

.topbar-item{
    position: relative;
}

.notifications-dropdown {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-height: 500px;
    overflow-y: auto;
}

.p-badge.notifications-badge{
    position: absolute;
    top: 4px;
    right: 8px;
    width: 16px;
    height: 16px;
}
.p-badge.p-badge-warning{
    background-color:var(--yellow-500);
    color: white;
}

@font-face {
    font-family: 'Assistant';
    src: url('@/assets/fonts/Assistant-VariableFont_wght.ttf');
}

.p-component{
    font-family: var(--font-family);
}

:root {
    --font-family: 'Assistant', sans-serif;
    --gray-25: #F7FAFC;
    --gray-50: #F5F8FA;
    --gray-100: #E9EEF2;
    --gray-200: #DFE7ED;
    --gray-300: #D7DFE5;
    --gray-400: #B5C1C9;
    --gray-500: #919EA8;
    --gray-600: #6B7780;
    --gray-700: #515A61;
    --gray-800: #384147;
    --gray-900: #283036;
    --gray-1000: #151B1F;
    --blue-25: #EDF5FF;
    --blue-50: #CEE4FF;
    --blue-75: #ABD1FF;
    --blue-100: #7EB8FF;
    --blue-200: #529EFC;
    --blue-300: #3283E7;
    --blue-400: #0D69DD;
    --blue-600: #0A4997;
    --blue-500: #0055C0;
    --blue-700: #03397A;
    --blue-800: #092C57;
    --blue-900: #012147;
    --red-25: #FFF5F7;
    --red-50: #FFE8ED;
    --red-100: #FFD2DC;
    --red-200: #FFB8C7;
    --red-300: #FF8BA4;
    --red-400: #FC587C;
    --red-500: #EE4266;
    --red-600: #CE1E44;
    --red-700: #AF0C2F;
    --red-800: #8C0623;
    --red-900: #740019;
    --green-50: #EDFFF3;
    --green-100: #DCF7E4;
    --green-200: #BCF5CD;
    --green-300: #88EBA6;
    --green-400: #59DE81;
    --green-500: #36C260;
    --green-600: #1EA848;
    --green-700: #138A37;
    --green-800: #0A7A2C;
    --green-900: #05591F;
    --yellow-50: #FAF2E6;
    --yellow-100: #FAEAD2;
    --yellow-200: #FFDBA5;
    --yellow-300: #FFCF87;
    --yellow-400: #F8B44F;
    --yellow-500: #F4AB3E;
    --yellow-600: #D4912C;
    --yellow-700: #AD7724;
    --yellow-800: #85550F;
    --yellow-900: #5E3E0E;
    --teal-100: #ECFBFB;
    --teal-200: #D0F5F5;
    --teal-300: #AAF0F0;
    --teal-400: #8CE5E5;
    --teal-500: #74D6D6;
    --teal-600: #44C7C7;
    --teal-700: #18ABAB;
    --teal-800: #008889;
    --teal-900: #036161;
    --orange-100: #FFE8E0;
    --orange-200: #FFD0BF;
    --orange-300: #FFB399;
    --orange-400: #FF8459;
    --orange-500: #FF642E;
    --orange-600: #F24E15;
    --orange-700: #DE3F07;
    --orange-800: #BF3604;
    --orange-900: #A12B01;
}


.h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 41.86px;
}

.h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.39px;
}

.h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 31.39px;
}

.h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26.16px;
}

.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.31px;
}

.h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18.31px;
}

.h7 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.7px;
}

a {
    @apply text-blue-600 underline;
}

// Tags

.p-tag {
    font-size: 14px;
    line-height: 15.7px;
    font-weight: 500;
    border-radius: 6px;
    gap:4px;
    height: 24px;
}

.p-tag{
    background-color: var(--teal-700);
    color: white;
}
.p-tag.p-tag-success{
    background-color: var(--teal-200);
    color: var(--teal-900);
}
.p-tag.p-tag-info{
    background-color: var(--blue-500);
    color: var(--blue-800);
}
.p-tag.p-tag-warning{
    background-color: var(--yellow-100);
    color: var(--yellow-800);
}
.p-tag.p-tag-danger{
    background-color: var(--red-100);
    color: var(--red-800);
}

.p-tag > div>i  {
    font-size: 10px !important;
}

//Buttons

.p-selectbutton.p-buttonset.p-component > div{
    padding: 10px 10px 10px 10px;
}
.p-selectbutton.p-buttonset.p-component{
    height: 32px;
}