// Form layout

.wm-new-form-container{
    padding: 10px 160px;
    background-color: var(--gray-25);
}

.wm-detail-form-container{
    padding: 10px 160px;
    background-color: white;
}

.wm-form-row{
    // gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Input Component and dropdown

.wm-input,  .wm-inputsearch {
    gap: 4px;
    position: relative;
}

.wm-input > input,.wm-input > .p-password > input, .wm-input > .p-dropdown, .wm-inputsearch .p-autocomplete > input, .p-autocomplete-multiple-container{
    border: 1px solid var(--gray-400);
    height: 24px;
    border-radius: 4px;
    width: 120px;
    box-shadow: none;
    color: var(--gray-900);
}

.wm-input > .p-password > input{
    width: 100%;
}

.p-autocomplete .p-autocomplete-multiple-container, .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token{
    padding: 0 0.25rem;
    > li {
        padding: 0px;
    }
}

.wm-input > .p-dropdown.p-component > span{
    padding: 1px 4px;
}

.p-dropdown:not(.p-disabled).p-focus{
    border-color: var(--blue-500);
    box-shadow: none;
}

.p-dropdown-panel .p-dropdown-items {
    z-index: 1;
    background-color: white;
    list-style: none;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: var(--gray-900);
    font-size: 14px;
    white-space: nowrap;
    padding: 0rem 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: var(--blue-50);
    color: var(--blue-300);
}

.wm-input > input:enabled:focus, .wm-input > .p-dropdown:enabled:focus, .p-autocomplete:not(.p-disabled).p-focus .p-autocomplete-multiple-container, .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: var(--blue-500);
}

.wm-input > input:disabled, .wm-input > .p-dropdown:disabled {
    background-color: var(--gray-200);
}

.wm-input > input.wm-input-error, 
.wm-input > input:enabled:focus.wm-input-error, 
.wm-input > input:enabled:hover.wm-input-error,
.wm-input > .p-dropdown.wm-input-error, 
.wm-input > .p-dropdown:enabled:focus.wm-input-error, 
.wm-input > .p-dropdown:enabled:hover.wm-input-error{
    border-color: var(--red-500);
    color: var(--red-500);
}

.p-autocomplete.wm-input-error > .p-autocomplete-multiple-container,
.p-autocomplete.wm-input-error > .p-autocomplete-multiple-container:hover,
.p-autocomplete.wm-input-error > .p-autocomplete-multiple-container:focus
 {
    border: 1px solid var(--red-500);
    border-color: var(--red-500) !important;
    color: var(--red-500);
}

.p-autocomplete.wm-input-error > input,
.p-autocomplete.wm-input-error > input:hover,
.p-autocomplete.wm-input-error > input:focus
 {
    border: 1px solid var(--red-500);
    border-color: var(--red-500) !important;
    color: var(--red-500);
}

.wm-input-error input::placeholder{
    color: var(--red-500);
}

.wm-form-label.highlighted {
    font-weight: 700;
}

.wm-form-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--gray-800);
    white-space: nowrap;
        
}

.wm-input > span {
    line-height: 24px;
    }

.wm-validation-message{
    font-size: 10px;
    line-height: 14px;
    background-color: var(--red-50);
    color: var(--red-600);
    padding: 2px 4px;
    width: fit-content;
    position: absolute;
    bottom: -24px;
    white-space: nowrap;
}

.p-inputtext .p-placeholder{
    color: var(--gray-500);
}

// Divider

.p-divider.p-divider-horizontal:before {
    border-top: 1px var(--gray-400) solid;
}

// Card

.wm-detail-form-container .card-container > .p-card{
    box-shadow:none;
    background-color: #F7FAFC;
    border: 1px solid #D7DFE5;
    border-radius: 10px;
}

.wm-detail-form-container .card-container:first-child > .p-card{
    border-radius: 10px 40px 10px 10px;
}


// Tabview
.p-tabview > .p-tabview-panels{
    background-color: #F7FAFC;
    border: 1px solid #D7DFE5;
    border-radius: 0px 10px 10px 10px;
}

.p-tabview .p-tabview-nav-content{
    position: absolute;
    top: -43px;
}

.p-tabview .p-tabview-header{
    background-color: var(--gray-300);
    border-style:  solid;
    border-color: #D7DFE5;
    border-width: 1px 1px 0px 1px;
    border-radius: 10px 10px 0px 0px;
}

.p-tabview .p-tabview-header:focus{
    outline: none;
    border: none;
}

.p-tabview .p-tabview-header.p-highlight{
    background-color: #F7FAFC;
}

.p-tabview .p-tabview-nav li{
    margin: 0px 2px 0px 0px;
    border-bottom: none;
}

.p-tabview .p-tabview-nav{
    border-bottom: none;
    background: transparent;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background: transparent;
    transition: none;
    border: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
    border: none;
    color: var(--gray-700);
    font-weight: 700;
    height: 45px;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
    background: transparent;
}



//Contact

.contact-data .top-info-card > .p-card{
    min-height: 288px;
}

.contact-data .middle-info-card > .p-card{
    min-height: 200px;
}

.contact-counter{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    padding: 8px 16px 8px 16px
}

textarea {
    width: 100%;
}

// Customer

.customer-data .top-info-card > .p-card{
    min-height: 200px;
}

// Service

.wm-input .sla{
    text-align: center !important;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    min-width: 104px;
}

.wm-input .numeric{
    text-align: center !important;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    min-width: 104px;
}