
.layout-rtl{
    direction: rtl;
}

.layout-rtl .layout-sidebar{
    right: 0px;
    left:auto;
}

.layout-rtl .layout-main-container{
    margin-right: 72px;
    margin-left: 0px;
}

.layout-rtl .layout-config-button{
    right: auto;
    left: 0px;
}

// Select button
.layout-rtl .p-selectbutton.p-buttonset .p-button:first-of-type{
    border-radius: 0 20px 20px 0;
}
.layout-rtl .p-selectbutton.p-buttonset .p-button:last-of-type{
    border-radius:  20px 0 0 20px ;
}

.layout-rtl .p-dataview-layout-options.p-selectbutton.p-buttonset .p-button:first-of-type{
    border-radius:  0 4px 4px 0;
}

.layout-rtl .p-dataview-layout-options.p-selectbutton.p-buttonset .p-button:last-of-type {
    border-radius: 4px 0 0 4px;
}

.layout-rtl .p-buttonset .p-button:not(:last-child) {
     border-right: 1px solid ;
}



@media (min-width: 992px) {
    .layout-rtl.layout-wrapper.layout-static .layout-main-container {
        margin-right: 72px;
        margin-left: 0px;
    }
}

.layout-rtl .p-datatable .p-datatable-tbody > tr > td {
    text-align: right;
}

// Icons

